################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestAdeverinta/TestDb/bin/Debug
/TestAdeverinta/.vs/TestAdeverinta/FileContentIndex
/TestAdeverinta/Api/bin/Debug/net8.0
/TestAdeverinta/Api/obj/Debug/net8.0
/TestAdeverinta/Api/obj
/TestAdeverinta/TestDb/TestDb.dbmdl
/TestAdeverinta/TestDb/TestDb.jfm
