################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestAdeverinta/TestDb/bin/Debug
/TestAdeverinta/.vs/TestAdeverinta/FileContentIndex
